In [3]:
print ("hello \
pyhton")

hello pyhton

\ => used for continuation of code

In [4]:
print ("hello\tpyhton")

hello	pyhton

/t=>Used for tab

In [5]:
print ("hello\npyhton")

hello
pyhton

\n=>Enter button

In [35]:
name = "XYZ"
marks = 90
age = 20
print ("The name of person is ", name,"marks is ", marks,"age is ", age)

The name of person is  XYZ marks is  90 age is  20

In [39]:
print ("the name of the person is %10s marks is %10.2f age is %10d"%(name,marks,age))

the name of the person is        XYZ marks is      90.00 age is         20

In [44]:
print (f"The name of the person is {name} marks is {marks} age is {age}.")

The name of the person is XYZ marks is 90 age is 20.

In [45]:
10/3

3.3333333333333335

In [46]:
10//3

3

//=>floor division